body {
    color: #66CDAA;
    color: hsl(300,80%,50%);
}

h1, h2 {
      
    background-color: aquamarine;
    color: darkblue;
    
}
.character_name {
    
    color: darkgreen;
    
}
span.character_name {
    
    color:crimson;
    
}
#last {
    color: darkgoldenrod;
}